@import "../../scss/wrapper.scss";

#products-header {
    width: 100%;
    text-align: center;
    padding: 3rem 0;

    #products-nav {
        margin-top: 1.2rem;

        span {
            padding: 0 .5rem;
            color: dimgray;
            transition: color .3s;
            font-size: 1.1rem;

            &:hover {
                color: black;
                cursor: pointer;
            }

            &.selected {
                color: black;
            }
        }

        
    }

    select {
        margin: 1rem;
    }
}