.menuActive {
    margin-left: 300px;
    margin-right: -300px;
    transition: .3s;
}

.shoppingActive {
    margin-right: 400px;
    margin-left: -400px;
    transition: .3s;
}
.notActive {
    margin-left: 0px;
    margin-right: 0px;
    transition: .3s;
}

//menu and cart are smaller on smartphones
@media screen and (max-width: 576px) {
    .menuActive { margin-left: 250px; margin-right: -250px;}
    .shoppingActive { margin-right: 300px; margin-left: -300px;}
}