.menuActive {
    margin-left: 300px;
    margin-right: -300px;
    transition: .5s;
}

.shoppingActive {
    margin-right: 300px;
    margin-left: -300px;
    transition: .5s;
}
.notActive {
    margin-left: 0px;
    margin-right: 0px;
    transition: .5s;
}

//il menu e piu piccolo nei telefoni
@media screen and (max-width: 576px) {
    .shoppingActive { margin-right: 200px; margin-left: -200px;}
}

//il menu e piu piccolo nei telefoni
@media screen and (max-width: 576px) {
    .menuActive { margin-left: 200px; margin-right: -200px;}
}