@import "../../scss/flex-center.scss";

.cart-item {
    width: 100%;
    @extend .flex-center;
    height: 100px;
    margin-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid whitesmoke;

    .img {
      flex: 1;
      img {
        height: auto;
        width: 100%;
        // align-self: flex-start;
      }
    }
  
    .item-details {
      flex: 3;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      padding-left: 1rem;
      

      .name {
        font-size: 1.2rem;
        margin-bottom: .3rem;
        word-wrap: break-word;
        overflow-wrap: break-word;
      }
    }
  }

  @media screen and (max-width: 576px) {
    .cart-item {
       img { width: 75px; }
      .item-details {width: 125px; padding-left: .5rem;}
    }
  }
  